<html>
  <body>
    <h1>Menu</h1>
    <div>
      {{ menu }}
    </div>
    <h2>New item</h2>
    <form action="/menu" enctype="multipart/form-data" method="post">
      Name:<br />
      <input type="text" name="name" />
      <br />
      Price:<br />
      <input type="number" min="0" step="0.01" name="price" />
      <br />
      File:<br />
      <input type="file" name="upload" multiple="multiple" />
      <br /><br />
      <input type="submit" value="Create" />
    </form>
  </body>
</html>
